<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin.css">
    <title>sign in</title>
</head>

<body>

    <header>
        <h1 id="welcome">Welcome to expense tracking website</h1>
    </header>


    <div class="formcontianer">

        <form action="/signin" method="post" id="form">
            <label for="email" class="formelements">Email</label>
            <input type="email" name="email" id="email" required>
            <br>
            <br>
            <label for="password" class="formelements">Password</label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>
            <button type="submit" id="login" class="login">Login</button>

            <br>
            <br>
            <a href="/signup" class="singup" id="signup">Not a member? Signup here</a>
        </form>


    </div>
</body>
<script src="/signup.js"></script>

</html>